


.td {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}
.dragZone {
  height: 100px;
}
.header {
    display: inline-block;
  vertical-align: middle;
  margin: 10px 4px;
}
.card {
    margin-top: 5px;
    border: 1px solid blue;
    
}
.Column {
  padding: 10px;
  margin: 10px;
  border: 1px solid #aaaaaa;
  
}